
.igh-loginpage{
    background: linear-gradient(127.42deg, #548CE7 17.85%, #33BEE0 85.74%);
    display:flex;
    min-height:100vh;
    @media   (max-width: 992px) {
      flex-direction: column;
       }
  }
  .igh-login-left{
    flex: 1;align-items: center;
    display: flex;
    justify-content: center;
    @media   (max-width: 992px) {
      width: 100%;
      padding: 20px 0;
      flex-direction: column;
    }
    &-text{
      color:#fff;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      @media   (max-width: 767px) {
        font-size: 24px;
        padding: 0 20px;
       
         }
    }
    &-logo{
      position: absolute;
      width: 243px;
      height: 91px;
      left: 36px;
      top: 27px;
      @media   (max-width: 992px) {
        width: 100%;
      position: unset;
      padding: 0 20px;
      text-align: center;
      top:unset;

      }
    }
  }

  .igh-login-sidebar{
    background: #fff;
    padding: 30px 100px;
    min-height: 100vh;
    margin-left: auto;
    display:flex;
    flex-direction: column;
    width: 560px;
    @media   (max-width: 992px) {
      width: 100%;
      margin-left: 0;
     
       }
       @media   (max-width: 767px) {
        padding: 30px 30px;
       
         }
  }
  .igh-login-form{
    margin: 27px 0;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    background: #fff;
    width:100%;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    .igh-form-block{
      position: relative;
      padding:0;
      &-label{
        position: absolute;
        top:20px;
        left: 17px;
      }
      &-input{
        padding: 41px 17px 14px;
        border-left: 4px solid transparent;
        transition: all linear 0.2s;
        &:focus,&:active,&:hover{
          border-left-color:#548CE7;
        }
      }
      &:first-child{
        border-bottom: 1px solid #d5d5d5;
      }
    }
  }
  .igh-btns-block{
    margin:27px 0;
  }
  .igh-form-termlink{
    margin-top:30px;
  }
  .Conditions-block{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-weight: 500;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.igh-btn[disabled]{ cursor: not-allowed; }
