<section class="igh-loginpage">

  <div class="igh-login-left">
    <a href="" class="igh-login-left-logo"><img src="assets/images/logo-white.svg" alt="logo"></a>
    <h1 class="igh-login-left-text">Providers full suite of tools for <br> Emotional and Behavioral Health and <br> Wellness </h1>
  </div>
  <div class="igh-login-sidebar">
    <div class="row">
      <div class="col-sm-12 py-5">
        <a class="back-icon" href="javascript:;" (click)=" backClicked() "><i class="material-icons">arrow_back</i></a>
      </div>
    </div>


    <app-block-title title="Forgot Password"></app-block-title>
    <!-- <h1 class="igh-title center">Welcome to iGetHappy</h1> -->
    <form  [formGroup]="angForm" novalidate>
      <div class="igh-form igh-login-form">
        <div class="igh-form-block">
          <label class="igh-form-block-label">Email Address</label>
          <input class="igh-form-block-input transparent" type="text" placeholder="Enter Email ID"  formControlName="email"
          #email/>
          <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="errors-msg">
            <div *ngIf="angForm.controls['email'].errors.required">
              Email is required.
            </div>
            <div *ngIf="angForm.controls['email'].errors.email || angForm.controls['email'].errors.pattern">Email must be a valid</div>
          </div>

        </div>
      </div>

      <div class="my-3">
        <p class="text-center"><b>Or</b></p>
      </div>
      <div class="igh-form igh-login-form">

        <div class="igh-form-block">
          <label class="igh-form-block-label">Phone Number</label>
          <input class="igh-form-block-input transparent" ng-minlength="10" 
          ng-maxlength="10" type="number" placeholder="Enter Phone Number" formControlName="phone_number"
          #phone_number/>
          <div *ngIf="angForm.controls['phone_number'].invalid && (angForm.controls['phone_number'].dirty || angForm.controls['phone_number'].touched)" class="errors-msg">
            <div *ngIf="angForm.controls['phone_number'].errors.required">
              Phone number required.
            </div>
            <div *ngIf="angForm.controls['phone_number'].errors.pattern">
                Enter valid Phone Number.
            </div>
          </div>
        </div>
      </div>
      <div class=" ">
        <button role="button" class="igh-btn btn btn mt-3  igh-btn-primary" (click) = "forgotPassword(email.value, phone_number.value)" type="submit" [disabled]="angForm.pristine || angForm.invalid">Send </button>

      </div>
    </form>
  </div>
</section>
