// Flex


$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #efefef !default;
$gray-300: #dedede !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #33BEE0 !default;
$secondary: #3880c3 !default;



// font-size
$font-larger: 18px;
$font-small: 14px;
$font-reguler: 16px;
$font-smaller: 12px;