@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$enertia-blue: (
  50: #a9c5f3,
  100: #98baf0,
  200: #87aeee,
  300: #76a3eb,
  400: #6597e9,
  500: #548ce7,

  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$enertia-primary: mat-palette($enertia-blue);
$enertia-accent: mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$enertia-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$enertia-theme: mat-light-theme($enertia-primary, $enertia-accent, $enertia-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($enertia-theme);
