
    <div class="side-bar scrollbar"  id="style-2" *ngIf='isLogin()'>
      <div class="side-bar-inner">
        <a class="logo" href="javascript:;" routerLink="/home"><img src="assets/images/logo.svg"></a>
        <div class="first-list">
          <h4>Professional</h4>
          <ul>
            <li><a href="javascript:;" routerLink="/home"><img src="assets/images/icon.svg" alt="logo">Dashboard</a></li>
            <li><a href="javascript:;"><img src="assets/images/calendar (2).svg" alt="logo">Calendar</a></li>
            <li><a href="javascript:;"><img src="assets/images/chat-comment-oval-speech-bubble-with-text-lines.svg" alt="logo">Messages</a></li>
            <li><a href="javascript:;"><img src="assets/images/Vector Smart Object.svg" alt="logo">Clients</a></li>
            <li><a href="javascript:;"><img src="assets/images/line-chart.svg" alt="logo">Reports</a></li>
            <li><a href="javascript:;" routerLink="/settings"><img src="assets/images/settings (1).svg" alt="logo">Settings</a></li>
          </ul>
        </div>
        <div class="first-list br-tp">
          <ul>
            <li><a href="javascript:;" routerLink="/profile"><img src="assets/images/user (1)-1.svg" alt="logo">Profile</a></li>
            <li><a href="javascript:;"><img src="assets/images/bill.svg" alt="logo">Billings</a></li>
            <li><a href="javascript:;"><img src="assets/images/invoice.svg" alt="logo">Invoices</a></li>
            <li><a href="javascript:;"><img src="assets/images/consulting-message (1).svg" alt="logo">Reviews</a></li>
            <li><a href="javascript:;"><img src="assets/images/calendar (2).svg" alt="logo">My Schedule</a></li>
          </ul>
        </div>
      </div>
   